.App {
  text-align: center;
}

.User{
  list-style:none;
  margin-bottom:1rem;
  background:orange;
  cursor:pointer;
  width:40rem;
  margin:1rem auto;
  padding:0.5rem 1rem;
  text-align: justify;
  box-sizing:border-box;
}

.User:hover{
  color:green;
}

.User:active{
  color:blue;
}